*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-width: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
    --webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    --webkit-line-break: after-white-space;
    --webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}

/* CLASSI PERSONALI */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container{
    background-color: rgb(187, 245, 140);
    margin: 0 auto;
    margin-top: 5vh;
    width: 80%;
    height: calc(100vh - 10vh);
    display: flex;
    overflow: hidden;
}

#sinistra{
    /* border: 1px solid blue; */
    flex-basis: 35%;
}

#destra{
    /* border: 2px solid purple; */
    flex-grow: 1;
}

/* SEZIONE SINISTRA APP */

#container #sinistra .container-rubrica header .contenitore-immagine{
    width: 50px;
}

#container #sinistra .container-rubrica header .contenitore-immagine img{
    width: 100%;
    border-radius: 50%;
}

/* header sx */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
    height: 10vh;
}

.contenitore-immagine{
    display: flex;
    align-items: center;
}

.contenitore-icone span i{
    padding-left: 10px;
}

.contenitore-icone span i:first-child{
    margin-right: 10px;
}

/* notifiche sx */

#contenitore-notifiche{
    background-color: #8edafc;
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#contenitore-notifiche i{
    font-size: 1.8em;
    background-color: #f2fbff;
    border-radius: 50%;
    
}

#notifiche #contenitore-notifiche p{
    display: inline-block;
}

#notifiche #contenitore-notifiche a{
    display: inline-block;
    text-decoration: underline;
    color: #978d82;
    font-size: 0.9em;
}

#testo-notifiche{
    margin-left: 10px;
}

#icona-silenziosa i{
    color: #8edafc;
}

/* sezione "cerca" sx */

#cerca{
    background-color: #f6f6f6;
    height: 6vh;
    position: relative;
}

#cerca input{
    border: 1px solid #978d82;
    width: 95%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#cerca input textarea{
    color: #ffffff;
}

#cerca input::placeholder{
    color: #b9ac9e;
    padding-left: 30px;
}

/* SEZIONE CHAT DX */

#destra #container-chat header .contenitore-immagine{
    width: 50px;
}

#destra #container-chat header .contenitore-immagine img{
    width: 100%;
    border-radius: 50%;
}

#ultimo-accesso{
    font-size: 1em;
}

#testo-header-dx{
    font-size: 0.5em;
    padding-left: 10px;
}

#contenitore-icone-dx{
    margin-right: 10px;
}

#contenitore-icone-dx span i{
    padding-right: 10px;
}

#chat-principale{
    height: 70vh;
    background-image: url(../img/mine.jpg);
    background-repeat: repeat;
    background-position: center center;
}

.sent{
    background-color: #d5f9ba;
    text-align: right;
}

.received{
    background-color: #ffffff;
    text-align: left;
}

#scrivi{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #f3eeea;
}

#scrivi div input{
    background-color: #ffffff;
    width: 85%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#scrivi div i:first-child{
    padding-left: 20px;
}

#scrivi div i:last-child{
    padding-right: 20px;
}

#scrivi input::placeholder{
    color: #b9ac9e;
    padding-left: 30px;
}

/* SEZIONE RUBRICA V-FOR */

#nome-accesso{
    padding-left: 15px;
}

#rubrica{
    overflow-y: scroll;
}

#rubrica ul{
    background-color: #ffffff;
}


#rubrica ul li{
    font-size: 1em;
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#rubrica ul li div p:last-child{
    color: #b9ac9e;
    font-size: 0.8em;
}

.active{
    background-color: #e9ebeb;
}

#rubrica ul li img{
    width: 50px;
    border-radius: 50%;
}