<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.10/vue.min.js"
        integrity="sha512-H8u5mlZT1FD7MRlnUsODppkKyk+VEiCmncej8yZW1k/wUT90OQon0F9DSf/2Qh+7L/5UHd+xTLrMszjHEZc2BA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
        integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
        crossorigin="anonymous"></script>
    <script src="./js/script.js" defer></script>
    <title>BoolZapp</title>
</head>

<body>
    <div id="container">
        <!-- sezione sinistra -->
        <div id="sinistra">
            <div class="container-rubrica">
                <!-- header sx -->
                <header>
                    <div class="contenitore-immagine">
                        <img src="./img/avatar_io.jpg" alt="io">
                        <span>Sofia</span>
                    </div>
                    <div class="contenitore-icone">
                        <span><i class="fa-solid fa-circle-notch"></i></span>
                        <span><i class="fa-solid fa-message"></i></span>
                        <span><i class="fa-solid fa-ellipsis-vertical"></i></span>
                    </div>
                </header>
                <!-- sezione notifiche -->
                <div id="notifiche">
                    <div id="contenitore-notifiche">
                        <div id="icona-silenziosa"> <i class="fa-solid fa-bell-slash"></i>
                        </div>
                        <div id="testo-notifiche">
                            <p>Ricevi notifiche di nuovi messaggi</p>
                            <a href="#" target="_blank">Attiva notifiche desktop</a>
                        </div>
                    </div>
                </div>
                <!-- sezione "cerca" -->
                <div id="cerca">
                    <input type="text" placeholder="Cerca o inizia una nuova chat">
                </div>
                <!-- sezione rubrica -->
                <div id="rubrica">
                    <ul>
                        <li v-for="(nome, indice) in rubrica" :class="{ active: indice === contattoAttivo}"
                            @click="attivaIndice(indice)"><img :src="'./img/avatar'+nome.avatar+'.jpg'" alt="">
                            <div id="nome-accesso">
                                <p>{{
                                    nome.name }}</p>
                                <p>Ultimo messaggio inviato</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- sezione destra -->
        <div id="destra">
            <div id="container-chat">
                <!-- header dx -->
                <header>
                    <div class="contenitore-immagine">
                        <!-- :src="'img/avatar' + rubrica[contattoAttivo].avatar + '.jpg'" -->
                        <img :src="'img/avatar' + rubrica[contattoAttivo].avatar + '.jpg'"
                            :alt="rubrica[contattoAttivo].name">
                        <div id="testo-header-dx">
                            <span>{{ rubrica[contattoAttivo].name }}</span>
                            <span id="ultimo-accesso">Ultimo accesso oggi alle 12.00</span>
                        </div>
                    </div>
                    <div id="contenitore-icone-dx">
                        <span><i class="fa-solid fa-magnifying-glass"></i></span>
                        <span><i class="fa-solid fa-paperclip"></i></span>
                        <span><i class="fa-solid fa-ellipsis-vertical"></i></span>
                    </div>
                </header>
                <!-- CHAT WHATSAPP -->
                <main id="chat-principale">
                    <div class="flex" v-for="(singoloMessaggio, indice) in rubrica[contattoAttivo].messages"
                        :class="singoloMessaggio.status === 'sent' ? 'sent' : 'received'">
                        <!-- :class="index == indiceAttivo ? 'active' : ''" -->
                        <span>{{ singoloMessaggio.message }}</span>
                        <span>{{ singoloMessaggio.date }}</span>
                    </div>
                </main>
                <!-- sezione "scrivi messaggio" -->
                <div id="scrivi">
                    <div><i class="fa-regular fa-face-smile"></i></div>
                    <div><input type="text" v-model="messaggioDiTesto" @keyUp.enter="aggiungiMessaggio"
                            placeholder="Scrivi un messaggio"></div>
                    <div><i class="fa-solid fa-microphone"></i></div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>